<ul>
  <li *ngFor="let hero of heroes" class="container"
      (click)="onSelectedHero(hero)"
      [class.selected]="hero === selectedHero">
    <p class="name">{{hero.name}}</p>
    <p class="date">{{hero.date}}</p>
  </li>
</ul>

<div class="container-2">
  <input [(ngModel)]="heroName" class="input-item">
  <div *ngIf="hero" class="hero-details">
    id: {{hero[0].id}} name: {{hero[0].name}}
  </div>
</div>
<div>
  <a (click)="onGetHero()">Получить одного героя по id</a>
  <a (click)="onAddHero(heroName)">Добавить героя</a>
  <a (click)="onUpdateHero()">Обновить героя</a>
  <a (click)="onDeleteHero()">Удалить героя</a>
</div>

