.container {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'name date';
}
.container .name {
  grid-area: name;
}

.container .date {
  grid-area: date;
}

.selected {
  color: red;
  text-decoration: underline;
}

.container-2 {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px;
  grid-template-areas: 'input-item hero-details';
}
.container-2 .input-item {
  grid-area: input-item;
}

.container-2 .hero-details {
  grid-area: hero-details;
}

input {
  width: 200px;
}

a {
  display: block;

  width: fit-content;
  border: 1px solid #007ddd;
  border-radius: 10px;
  padding: 5px;
  margin: 5px 0;
  color: #fff;
  background: #007ddd;
}

a:hover {
  text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
}
